<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="67D8CD3E-F483-4469-A221-3C29F4D36FDC" Name="個人ニュースサイト更新支援ツール" Language="1033" Version="1.0.0.0" Manufacturer="denimu" 
             UpgradeCode="9945b1ab-4b00-4ca7-84f3-c546afaea1d3" Codepage="65001">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate />
        <Icon Id="PersonalNewsSiteSupportToolIcon.ico" SourceFile="..\PersonalNewsSiteSupportTool\PersonalNewsSiteSupportToolIcon.ico" />
        <Property Id="ARPPRODUCTICON" Value="PersonalNewsSiteSupportToolIcon.ico" />
        <Feature Id="ProductFeature" Title="SetupProject" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
            <ComponentRef Id="CONFIG.JSON" />
            <ComponentRef Id="LICENSE" />
            <ComponentRef Id="MICROSOFT.XAML.BEHAVIORS.PDB" />
            <ComponentRef Id="NLOG.CONFIG" />
            <ComponentRef Id="PERSONALNEWSSITESUPPORTTOOL.EXE" />
            <ComponentRef Id="PERSONALNEWSSITESUPPORTTOOL.EXE.CONFIG" />
            <ComponentRef Id="PERSONALNEWSSITESUPPORTTOOL.PDB" />
            <ComponentRef Id="HARDCODET.NOTIFYICON.WPF.DLL" />
            <ComponentRef Id="LIVET.BEHAVIORS.DLL" />
            <ComponentRef Id="LIVET.COLLECTIONS.DLL" />
            <ComponentRef Id="LIVET.CONVERTERS.DLL" />
            <ComponentRef Id="LIVET.CORE.DLL" />
            <ComponentRef Id="LIVET.DLL" />
            <ComponentRef Id="LIVET.EVENTLISTENERS.DLL" />
            <ComponentRef Id="LIVET.MESSAGING.DLL" />
            <ComponentRef Id="LIVET.MVVM.DLL" />
            <ComponentRef Id="MICROSOFT.BCL.ASYNCINTERFACES.DLL" />
            <ComponentRef Id="MICROSOFT.XAML.BEHAVIORS.DLL" />
            <ComponentRef Id="NLOG.DLL" />
            <ComponentRef Id="SYSTEM.BUFFERS.DLL" />
            <ComponentRef Id="SYSTEM.MEMORY.DLL" />
            <ComponentRef Id="SYSTEM.NUMERICS.VECTORS.DLL" />
            <ComponentRef Id="SYSTEM.RUNTIME.COMPILERSERVICES.UNSAFE.DLL" />
            <ComponentRef Id="SYSTEM.TEXT.ENCODINGS.WEB.DLL" />
            <ComponentRef Id="SYSTEM.TEXT.JSON.DLL" />
            <ComponentRef Id="SYSTEM.THREADING.TASKS.EXTENSIONS.DLL" />
            <ComponentRef Id="SYSTEM.VALUETUPLE.DLL" />
            <ComponentRef Id="DOTNET_LICENSE.TXT" />
            <ComponentRef Id="LIVET_LICENSE_EN.TXT" />
            <ComponentRef Id="MICROSOFT_LICENSE.TXT" />
            <ComponentRef Id="NLOG_LICENSE.TXT" />
            <ComponentRef Id="WPF_NOTIFYICON_LICENSE.TXT" />
            <ComponentRef Id="ProgramMenuDir" />
        </Feature>
        <UI />
    </Product>
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="PersonalNewsSiteSupportTool">
                    <Component Id="CONFIG.JSON" DiskId="1" Guid="26ED0BEE-8BCB-43AD-A3DA-6C1B6563855B">
                        <File Id="CONFIG.JSON" Name="config.json" Source="..\PersonalNewsSiteSupportTool\bin\Release\config.json" />
                    </Component>
                    <Component Id="LICENSE" DiskId="1" Guid="E3A848A8-7F5B-4002-A1E4-1D84FDC7DEF8">
                        <File Id="LICENSE" Name="LICENSE" Source="..\PersonalNewsSiteSupportTool\bin\Release\LICENSE" />
                    </Component>
                    <Component Id="MICROSOFT.XAML.BEHAVIORS.PDB" DiskId="1" Guid="18958F64-BB66-4DAC-87E2-364D0E7C7C90">
                        <File Id="MICROSOFT.XAML.BEHAVIORS.PDB" Name="Microsoft.Xaml.Behaviors.pdb" Source="..\PersonalNewsSiteSupportTool\bin\Release\Microsoft.Xaml.Behaviors.pdb" />
                    </Component>
                    <Component Id="NLOG.CONFIG" DiskId="1" Guid="F5B5E630-3800-426E-A56D-C50264842366">
                        <File Id="NLOG.CONFIG" Name="NLog.config" Source="..\PersonalNewsSiteSupportTool\bin\Release\NLog.config" />
                    </Component>
                    <Component Id="PERSONALNEWSSITESUPPORTTOOL.EXE" DiskId="1" Guid="5BBE2227-6729-4F1D-BF77-BC97765C6364">
                        <File Id="PERSONALNEWSSITESUPPORTTOOL.EXE" Name="PersonalNewsSiteSupportTool.exe" Source="..\PersonalNewsSiteSupportTool\bin\Release\PersonalNewsSiteSupportTool.exe">
                            <Shortcut Id="PersonalNewsSiteSupportTool_shortcut" Name="個人ニュースサイト更新支援ツール" Directory="ProgramMenuDir" WorkingDirectory="INSTALLDIR" Icon="PersonalNewsSiteSupportToolIcon.ico" IconIndex="0" Advertise="yes" />
                        </File>
                    </Component>
                    <Component Id="PERSONALNEWSSITESUPPORTTOOL.EXE.CONFIG" DiskId="1" Guid="BBAA704E-A337-427B-A2B6-47183C0620F2">
                        <File Id="PERSONALNEWSSITESUPPORTTOOL.EXE.CONFIG" Name="PersonalNewsSiteSupportTool.exe.config" Source="..\PersonalNewsSiteSupportTool\bin\Release\PersonalNewsSiteSupportTool.exe.config" />
                    </Component>
                    <Component Id="PERSONALNEWSSITESUPPORTTOOL.PDB" DiskId="1" Guid="9BBC840A-3836-4DF3-BE9A-32023C01726D">
                        <File Id="PERSONALNEWSSITESUPPORTTOOL.PDB" Name="PersonalNewsSiteSupportTool.pdb" Source="..\PersonalNewsSiteSupportTool\bin\Release\PersonalNewsSiteSupportTool.pdb" />
                    </Component>
                    <Directory Id="LIB" Name="lib">
                        <Component Id="HARDCODET.NOTIFYICON.WPF.DLL" DiskId="1" Guid="9B5BE2AC-E3E2-4C89-84DE-46E7417CE12D">
                            <File Id="HARDCODET.NOTIFYICON.WPF.DLL" Name="Hardcodet.NotifyIcon.Wpf.dll" Source="..\PersonalNewsSiteSupportTool\bin\Release\lib\Hardcodet.NotifyIcon.Wpf.dll" />
                        </Component>
                        <Component Id="LIVET.BEHAVIORS.DLL" DiskId="1" Guid="C5FB0DCB-04F3-4A0E-9749-948CD619EAB8">
                            <File Id="LIVET.BEHAVIORS.DLL" Name="Livet.Behaviors.dll" Source="..\PersonalNewsSiteSupportTool\bin\Release\lib\Livet.Behaviors.dll" />
                        </Component>
                        <Component Id="LIVET.COLLECTIONS.DLL" DiskId="1" Guid="D1FDF54D-7B8C-4C87-8F98-8146EC6F40D5">
                            <File Id="LIVET.COLLECTIONS.DLL" Name="Livet.Collections.dll" Source="..\PersonalNewsSiteSupportTool\bin\Release\lib\Livet.Collections.dll" />
                        </Component>
                        <Component Id="LIVET.CONVERTERS.DLL" DiskId="1" Guid="CBCD8B65-56EC-4870-A863-FD1B6C9D7B4C">
                            <File Id="LIVET.CONVERTERS.DLL" Name="Livet.Converters.dll" Source="..\PersonalNewsSiteSupportTool\bin\Release\lib\Livet.Converters.dll" />
                        </Component>
                        <Component Id="LIVET.CORE.DLL" DiskId="1" Guid="92EB23CA-DDDA-4D38-A53D-98208BEF868A">
                            <File Id="LIVET.CORE.DLL" Name="Livet.Core.dll" Source="..\PersonalNewsSiteSupportTool\bin\Release\lib\Livet.Core.dll" />
                        </Component>
                        <Component Id="LIVET.DLL" DiskId="1" Guid="DAB0B224-07AA-4980-A8F7-D8FB7908EA6B">
                            <File Id="LIVET.DLL" Name="Livet.dll" Source="..\PersonalNewsSiteSupportTool\bin\Release\lib\Livet.dll" />
                        </Component>
                        <Component Id="LIVET.EVENTLISTENERS.DLL" DiskId="1" Guid="166E7F7F-0EAD-4494-BA74-5D0F293ED486">
                            <File Id="LIVET.EVENTLISTENERS.DLL" Name="Livet.EventListeners.dll" Source="..\PersonalNewsSiteSupportTool\bin\Release\lib\Livet.EventListeners.dll" />
                        </Component>
                        <Component Id="LIVET.MESSAGING.DLL" DiskId="1" Guid="B68ACFD5-6D29-4F4D-8003-F86CC6B64D9E">
                            <File Id="LIVET.MESSAGING.DLL" Name="Livet.Messaging.dll" Source="..\PersonalNewsSiteSupportTool\bin\Release\lib\Livet.Messaging.dll" />
                        </Component>
                        <Component Id="LIVET.MVVM.DLL" DiskId="1" Guid="39F7F719-59CD-4171-89B8-BEF6FE169DE5">
                            <File Id="LIVET.MVVM.DLL" Name="Livet.Mvvm.dll" Source="..\PersonalNewsSiteSupportTool\bin\Release\lib\Livet.Mvvm.dll" />
                        </Component>
                        <Component Id="MICROSOFT.BCL.ASYNCINTERFACES.DLL" DiskId="1" Guid="5AA6D60D-CF8C-4169-A76D-8D10EB7C1D5A">
                            <File Id="MICROSOFT.BCL.ASYNCINTERFACES.DLL" Name="Microsoft.Bcl.AsyncInterfaces.dll" Source="..\PersonalNewsSiteSupportTool\bin\Release\lib\Microsoft.Bcl.AsyncInterfaces.dll" />
                        </Component>
                        <Component Id="MICROSOFT.XAML.BEHAVIORS.DLL" DiskId="1" Guid="36173D95-D315-4418-A2DF-76FF2BF2A1F9">
                            <File Id="MICROSOFT.XAML.BEHAVIORS.DLL" Name="Microsoft.Xaml.Behaviors.dll" Source="..\PersonalNewsSiteSupportTool\bin\Release\lib\Microsoft.Xaml.Behaviors.dll" />
                        </Component>
                        <Component Id="NLOG.DLL" DiskId="1" Guid="A2ACEC18-A988-4E18-B434-7D5E6AF53AEC">
                            <File Id="NLOG.DLL" Name="NLog.dll" Source="..\PersonalNewsSiteSupportTool\bin\Release\lib\NLog.dll" />
                        </Component>
                        <Component Id="SYSTEM.BUFFERS.DLL" DiskId="1" Guid="2A482C0F-FD52-4200-91F1-27C61AC928C6">
                            <File Id="SYSTEM.BUFFERS.DLL" Name="System.Buffers.dll" Source="..\PersonalNewsSiteSupportTool\bin\Release\lib\System.Buffers.dll" />
                        </Component>
                        <Component Id="SYSTEM.MEMORY.DLL" DiskId="1" Guid="39212032-0EEA-48A9-840E-57958D430BD0">
                            <File Id="SYSTEM.MEMORY.DLL" Name="System.Memory.dll" Source="..\PersonalNewsSiteSupportTool\bin\Release\lib\System.Memory.dll" />
                        </Component>
                        <Component Id="SYSTEM.NUMERICS.VECTORS.DLL" DiskId="1" Guid="9949D5CE-A213-4924-A5E1-60EDC34C691F">
                            <File Id="SYSTEM.NUMERICS.VECTORS.DLL" Name="System.Numerics.Vectors.dll" Source="..\PersonalNewsSiteSupportTool\bin\Release\lib\System.Numerics.Vectors.dll" />
                        </Component>
                        <Component Id="SYSTEM.RUNTIME.COMPILERSERVICES.UNSAFE.DLL" DiskId="1" Guid="A5734414-5D12-4305-8C1A-5CBBCEA69E5F">
                            <File Id="SYSTEM.RUNTIME.COMPILERSERVICES.UNSAFE.DLL" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="..\PersonalNewsSiteSupportTool\bin\Release\lib\System.Runtime.CompilerServices.Unsafe.dll" />
                        </Component>
                        <Component Id="SYSTEM.TEXT.ENCODINGS.WEB.DLL" DiskId="1" Guid="24F1883B-01E9-46B9-A01A-52B292965C3F">
                            <File Id="SYSTEM.TEXT.ENCODINGS.WEB.DLL" Name="System.Text.Encodings.Web.dll" Source="..\PersonalNewsSiteSupportTool\bin\Release\lib\System.Text.Encodings.Web.dll" />
                        </Component>
                        <Component Id="SYSTEM.TEXT.JSON.DLL" DiskId="1" Guid="3B7F91EE-68ED-45AD-833C-6299ABF2D993">
                            <File Id="SYSTEM.TEXT.JSON.DLL" Name="System.Text.Json.dll" Source="..\PersonalNewsSiteSupportTool\bin\Release\lib\System.Text.Json.dll" />
                        </Component>
                        <Component Id="SYSTEM.THREADING.TASKS.EXTENSIONS.DLL" DiskId="1" Guid="E0FD2094-FD77-4D37-BEF6-21B42440E677">
                            <File Id="SYSTEM.THREADING.TASKS.EXTENSIONS.DLL" Name="System.Threading.Tasks.Extensions.dll" Source="..\PersonalNewsSiteSupportTool\bin\Release\lib\System.Threading.Tasks.Extensions.dll" />
                        </Component>
                        <Component Id="SYSTEM.VALUETUPLE.DLL" DiskId="1" Guid="5DBCB7DA-82E4-474A-B970-4EFC812F40A5">
                            <File Id="SYSTEM.VALUETUPLE.DLL" Name="System.ValueTuple.dll" Source="..\PersonalNewsSiteSupportTool\bin\Release\lib\System.ValueTuple.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="LICENSES" Name="LICENSES">
                        <Component Id="DOTNET_LICENSE.TXT" DiskId="1" Guid="1C346D67-F754-4E98-86FC-3A919818EC63">
                            <File Id="DOTNET_LICENSE.TXT" Name="dotnet_LICENSE.TXT" Source="..\PersonalNewsSiteSupportTool\bin\Release\LICENSES\dotnet_LICENSE.TXT" />
                        </Component>
                        <Component Id="LIVET_LICENSE_EN.TXT" DiskId="1" Guid="2748A3D3-7123-4F5D-B0A6-4FEBD05909F6">
                            <File Id="LIVET_LICENSE_EN.TXT" Name="Livet_license-en.txt" Source="..\PersonalNewsSiteSupportTool\bin\Release\LICENSES\Livet_license-en.txt" />
                        </Component>
                        <Component Id="MICROSOFT_LICENSE.TXT" DiskId="1" Guid="EE71E8C4-3179-43E8-BE6A-EF0659E179E0">
                            <File Id="MICROSOFT_LICENSE.TXT" Name="Microsoft_LICENSE.txt" Source="..\PersonalNewsSiteSupportTool\bin\Release\LICENSES\Microsoft_LICENSE.txt" />
                        </Component>
                        <Component Id="NLOG_LICENSE.TXT" DiskId="1" Guid="7FE8495A-9EDB-4D06-9D00-EC8EB018C281">
                            <File Id="NLOG_LICENSE.TXT" Name="NLog_LICENSE.txt" Source="..\PersonalNewsSiteSupportTool\bin\Release\LICENSES\NLog_LICENSE.txt" />
                        </Component>
                        <Component Id="WPF_NOTIFYICON_LICENSE.TXT" DiskId="1" Guid="0F2C6ADE-78A2-4F8B-9322-8BDDC0D18284">
                            <File Id="WPF_NOTIFYICON_LICENSE.TXT" Name="WPF-NotifyIcon_license.txt" Source="..\PersonalNewsSiteSupportTool\bin\Release\LICENSES\WPF-NotifyIcon_license.txt" />
                        </Component>
                    </Directory>
                    <Directory Id="LOGS" Name="logs" />
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="PersonalNewsSiteSupportTool">
                    <Component Id="ProgramMenuDir" Guid="63F6A5CE-310B-4122-970E-A5FF39ED8778">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
            <!-- <Component Id="ProductComponent"> -->
            <!-- TODO: Insert files, registry keys, and other resources here. -->
            <!-- </Component> -->
        </ComponentGroup>
    </Fragment>
</Wix>