html{
    background-color: rgb(245, 248, 255);
}

header {
    position: sticky;
    height: 30px;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 5px;
    background-color: rgb(0, 34, 107);
    color: rgb(245, 248, 255);
}

main {
    position: relative;
    min-height: 90vh;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

footer {
    position: sticky;
    bottom: 0;
    font-size: 0.7rem;
    border-top: 1px solid;
    padding-left: 10px;
    padding-top: 10px;
    z-index: 99;
    background-color: rgb(245, 248, 255);
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0.5rem;
}

article {
    padding-left: 5px;
}

p {
    text-indent: 1rem;
    margin-top: 8px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5em;
    padding: 3px;
    border-color: rgb(0, 34, 107);
    background-color: rgb(182, 205, 255);
    border-style: solid;
    border-width: 3px 0px 3px 0px;
}

h3 {
    margin-top: 1rem;
    border-style: solid;
    border-color: rgb(0, 34, 107);
    border-left-width: 5px;
}

ul {
    list-style-type: disc;
    margin-top: 10px;
    padding-left: 30px;
}

li {
    margin-top: 3px;
    padding: 2px;
}

a {
    text-decoration: underline;
}

a:hover {
    background-color: rgb(212, 226, 255);
}